h1 {
  color: blue;
}
#doanvan2 {
  color: orange;
}
p {
  color: red;
  font-size: 20px;
}
.demo {
  color: yellow;
  background-color: black;
}
.demo2 {
  font-size: 40px;
}
.item_ul_1 {
  list-style: none;
}
